<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>
<body>
	<nav th:replace="layout/menu :: menuJacaranda"></nav>
	<div class="container px-5 my-5">
	  <div class="row justify-content-center">
	    <div class="col-lg-8">
	      <div class="card border-0 rounded-3 shadow-lg">
	        <div class="card-body p-4">
	          <div class="text-center">
	            <div class="h1 fw-light">Edit Company</div>
	          </div>
	
	          <form method="get" th:action="@{editCompanySave}" th:object="${company}">
	            <div class="mb-3">
	    			<label for="exampleInputEmail1" class="form-label">Id Company</label>
	    			<input type="number" th:field="*{id}" class="form-control" id="id" name="id" placeholder="Enter Id Company" readonly>
	            </div>
	
	            <div class="mb-3">
	                <label for="exampleInputEmail1" class="form-label">Name</label>
	    			<input type="text" th:field="*{name}" class="form-control" id="name" name="name" placeholder="Enter Name" required>
	            </div>
	
	            <div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Address</label>
	    			<input type="text" th:field="*{address}" class="form-control" id="address" name="address" placeholder="Enter Address" required>
	            </div>
	            
	            <div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">City</label>
	    			<input type="text" th:field="*{city}" class="form-control" id="gender" name="city" placeholder="Enter City" required>
	            </div>
	            
	           
	            <div class="d-grid">
	              	<button class="btn btn-danger btn-lg" id="submitButton" type="submit" name="submit">Edit</button>
	            </div>
	            
	          </form>
	          <div class="d-grid">
	          		<span th:text="${edit}" class="alert alert-success"></span>
	          </div>
	          
	          <!-- End of contact form -->
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div th:insert="layout/footer :: pie"></div>
</body>
</html>